<ol class="breadcrumb">
  <% crumbs.each_with_index do |elem,index| %>
    <li class="<%= "active" if index == crumbs.length-1 %>">
      <%= link_to_if(index != crumbs.length-1, elem[0], elem[1] ) %>
    </li>
  <% end %>
</ol>
