<div class="zen-navbar">
  <div class="zen-navbar-left">
    <%=image_tag 'logo.png'%>
    <span class="zen-navbar-header">
      <p class="zen-navbar-brand">Tesla</p>
      <p class="zen-navbar-brand-desc">Cool new stuff and more</p>
    </span>
  </div>
</div>
