// Place all the styles related to the store::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-item-container{
    display:inline-block;
    @include bordered;
    background-color:$zen-store-item-bg-color;
    padding:10px;
    margin:20px;
    text-align:center;
    }

.sidebar{
    @include bordered;
    background-color:$zen-store-item-bg-color;
    padding:10px;
    margin:0px 0px 10px 15px;
    border-radius: 10px;
    
}

.main{
    @include bordered;
    background-color:$zen-store-item-bg-color;
    padding:10px;
    margin:0px 15px 10px 0px;
    border-radius: 10px;
    h1{
	margin-top:0px;
	text-align:center;
	}
}

