<h1>Listing store_pages</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @store_pages.each do |store_page| %>
      <tr>
        <td><%= link_to 'Show', store_page %></td>
        <td><%= link_to 'Edit', edit_store_page_path(store_page) %></td>
        <td><%= link_to 'Destroy', store_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_store_page_path %>
