.blog-posts-container{
    padding:20px 20px;
    }


.blog-post-container {
    @include zen-panel;
    border-radius:5px;
    padding:20px 20px;
    margin:15px 0px;

    .blog-post-index-page{
	padding-top:20px;
    }

    h2, h6{ margin:0;}

}

.blog-post-show-container {
    h2, h6{ margin:0;}
    @include zen-panel;
    margin:0 auto;
    border-radius:5px;
    padding:20px 20px;
    width:650px;
    .blog-post-show-page{
	padding-top:20px;
    }

}

.blog-post-likes{
    text-align:right;
    span{
	line-height:$font-size-base;
	vertical-align:bottom;
    }
}