
@import "fonts";
@import "bootstrap";
@import "twitter/bootstrap";
@import "mixins";
@import "shared";
@import "store";
@import "store/items";
@import "store/pages";
@import "blog/posts";



.global-container {
    background-color:#E7EFF0;
    min-height:1000px;
}

.zen-navbar{
    background: image-url('navbar-bg.png') no-repeat;
    background-size:100% 100%;
    @include box-shadow(0px 2px 5px #333);
    margin-bottom:20px;
    .zen-navbar-header{
	display:inline-block;
	vertical-align:middle;
	.zen-navbar-brand{
	    font-size:80px;
	    line-height:66px;
	    margin:0;
	    color:rgb(55,85,35);
	}
	.zen-navbar-brand-desc{
	    font-family:$font-family-alt;
	    font-size:22px;
	    line-height:22px;
	    margin:0;
	    color:rgb(55,85,35);
	}
	
    }
}

