
@import "bootstrap";
@import "twitter/bootstrap";
@import "shared";
@import "store";
@import "store/items";
@import "store/pages";

.global-container {
    background-color:#E7EFF0;
    padding:20px;
    min-height:1000px;
}

.navbar-brand{
	padding:0px;
}

.navbar-default{
    border:none;
    background-color:#fff;
    }

.breadcrumb{
    margin-left:15px;
    margin-right:15px;
    }
