@font-face {
    font-family: 'HattoriHanzo';
    src: asset-url('Hattori_Hanzo-webfont.eot');
    src: asset-url('Hattori_Hanzo-webfont.eot') format('embedded-opentype'),
    asset-url('Hattori_Hanzo-webfont.svg') format('svg'),    
    asset-url('Hattori_Hanzo-webfont.ttf') format('truetype'),    
    asset-url('Hattori_Hanzo-webfont.woff') format('woff');
    }
